{% extends "back/admin/layout/base.html" %}
{% block head %}
{{ parent() }}
<style type="text/css">
</style>
{% endblock %}
{% block content %}
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">{% if lang.page_title is defined %} {{ lang.page_title}} {% endif %}</h1>
                </div><!-- /.rcolumn lg-12 (nested) -->
            </div><!-- /.row (nested) -->
            <div class="row">
               <div class="col-sm-2 col-lg-2"></div>
               <div class="col-sm-10 col-lg-10">
                    <form action="{{ setting.url }}products/create" id="form-create-post" method="post">
                                      <div class="form-group">
                                        <label for="productCategory">Category Product</label>
                                        <select class="form-control" name="productCategory" id="productCategory">
                                          {% for productCategory in productCategories %}
                                          <option value="{{productCategory.id}}">{{productCategory.name}}</option>
                                          {% endfor %}
                                        </select>
                                      </div>
                                      <div class="form-group">
                                          <label>Product Name</label>
                                          <input dir="auto" type="text" name="productName" class="form-control" required maxlength="80" placeholder="Name">
                                      </div>
                                      <div class="form-group">
                                        <label for="exampleInputAmount">Amount (in Euros)</label>
                                        <div class="input-group">
                                          <div class="input-group-addon"><i class="fa fa-eur" aria-hidden="true"></i></div>
                                          <input type="number" min="0.00" step="1.00" name="productPrice" id="exampleInputAmount" class="form-control" placeholder="Price">
                                        </div>
                                      </div>
                                      <div class="form-group">
                                        <label for="exampleInputQuantity">Quantity</label>
                                        <div class="input-group">
                                          <div class="input-group-addon"><i class="fa fa-square" aria-hidden="true"></i></div>
                                          <input type="number" min="0.00" step="1.00" name="productQuantity" id="exampleInputQuantity" class="form-control" placeholder="Quantity">
                                        </div>
                                      </div>
                                      <div class="form-group">
                                        <label for="exampleInputMinimum">Minimum Quantity</label>
                                        <div class="input-group">
                                          <div class="input-group-addon"><i class="fa fa-square" aria-hidden="true"></i></div>
                                          <input type="number" min="0.00" step="1.00" name="productMinimum" id="exampleInputMinimum" class="form-control" placeholder="Minimum Quantity">
                                        </div>
                                      </div>
                                      <div class="form-group">
                                          <label>Summary</label>
                                          <textarea id="myTextareaSummary" dir="auto" rows="20" name="productSummary" class="form-control" required ></textarea>
                                      </div>
                                      <div class="form-group">
                                          <label>Content</label>
                                          <textarea id="myTextareaContent" dir="auto" rows="40" name="productContent" class="form-control" required ></textarea>
                                      </div>
                                      <div class="form-group">
                                          <label>Product Slug</label>
                                          <input dir="auto" type="text" name="productSlug" class="form-control" required maxlength="80" placeholder="Product Slug">
                                      </div>
                                      <div class="form-group">
                                          <label>Meta Description</label>
                                          <input dir="auto" type="text" name="productMetaDescription" class="form-control" required maxlength="255" placeholder="Meta Description">
                                          <p class="help-block"><em>The maximum number of characters allowed is <strong>255</strong></em></p>
                                      </div>
                                      <div class="form-group">
                                          <label>Meta Title</label>
                                          <input dir="auto" type="text" name="productMetaTitle" class="form-control" required maxlength="255" placeholder="Meta Title">
                                          <p class="help-block"><em>The maximum number of characters allowed is <strong>255</strong></em></p>
                                      </div>
                                      <div class="form-group">
                                          <label>Product Keywords</label>
                                          <input dir="auto" type="text" name="productMetaKeywords" class="form-control" required maxlength="80" placeholder="Meta Keywords">
                                          <p class="help-block"><em>The maximum number of characters allowed is <strong>255</strong></em></p>
                                      </div>
                                      <div class="row">
                                        <div class="col-lg-12">
                                         <a href="#" id="pills-option">+</a>
                                          <div id="#inputoption">
                                          </div>
                                        </div>
                                      </div>
                                      <div class="form-group">
                                          <input type="hidden" name="csrf_token" value="{{ generateCsrfToken }}" />
                                      </div>
                                      <div class="form-group form-actions text-right">
                                           <button type="submit" name="submit" value="submit" class="btn btn-md btn-success">
                                              <i class="fa fa-check"></i> Product
                                          </button>
                                      </div>
                                      <script type="text/javascript">
                                         CKEDITOR.replace( 'myTextareaContent');
                                         CKEDITOR.replace( 'myTextareaSummary');
                                      </script>
                            </form>

                </div><!-- /.column sm-10 (nested) -->
            </div><!-- /.row (nested) -->
        </div>
{% endblock %}
